@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px;
  background: #333334;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background: #ccc;
}

.link {
  color: #555;
  text-decoration: none;
  padding: 15px;
}

.link:hover {
  background: #555;
  color: #ccc;
}
