<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Primer Layout</title>
  </head>
  <body>
    <section class="container">
      <header>
        <div class="main__header">
          <p>FALCON</p>
          <section class="navbar__header">
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">BLOG</a>
            <a href="#">CONTACT</a>
          </section>
        </div>
      </header>
      <main>
        <div class="title__main">
          <p>NEW GENERATION MARKETING COMPANY</p>
          <h1>We make the true design</h1>
          <p>
            Management is the act of allocating resources to accomplish desired
            goals and objetives efficiently and effectively
          </p>
          <button>SEND REQUEST</button>
        </div>
      </main>
      <footer>Footer</footer>
    </section>
    <script src="app.js"></script>
  </body>
</html>
