@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 170px 1fr 100px;
  min-height: 100vh;
  grid-template-areas:
    'header header header'
    'content content content'
    'footer footer footer';
}

.container header {
  background-color: gray;
  grid-area: header;
}

.container main {
  background-color: cornflowerblue;
  grid-area: content;
}

.container footer {
  background-color: darkgray;
  grid-area: footer;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10vw;
  border-bottom: 2px solid black;
  color: white;
}

.main__header p {
  font-size: 2rem;
  font-weight: 600;
}

.navbar__header a {
  color: white;
  text-decoration: none;
}

.navbar__header {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  font-weight: bold;
}
