@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 100px;
  min-height: 100vh;
  grid-template-areas:
    'header header header'
    'content content sidebar'
    'footer footer footer';
}

.container header {
  background-color: antiquewhite;
  grid-area: header;
}

.container aside {
  background-color: violet;
  grid-area: sidebar;
}

.container main {
  background-color: cornflowerblue;
  grid-area: content;
}

.container footer {
  background-color: darkgray;
  grid-area: footer;
}
